@font-face{
    font-family: LakeB;
    src: url('../fonts/TTLakes-Bold.ttf');
}

@font-face{
    font-family: Lakes;
    src: url('../fonts/TTLakes-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    border: 0;
}

ul li{
    list-style: none;
}

li{
    display: inline;
}

a {
    color: inherit;
    text-decoration: inherit; 
    margin: 5px;
    cursor: pointer;
}

button{
    cursor: pointer;
}

.section__body{
    width: 320px;
    height: 1024px;
}

.section__header-button{
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.ul__section-header{
    display: flex;
    width: 100%;
    padding: 23px 23px 57px 23px;
    align-items: center;
}

.section__list-item:nth-child(1){
    flex-grow: 0.1;
}

.section__list-item:nth-child(2){
    flex-grow: 0.6;
}

.section__main-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
    padding: 0 0 268px 24px;
}

.main__list-item:hover::before{
    content: "";
    background-color:#41F6D7;
    width: 3px;
    height: 32px;
    position: absolute;
    left: 0;
    border-radius: 0 2px 2px 0;
    opacity: 1;
}

.main__button{
    font-family: Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    background: white;
    font-weight: 600;
}

.main__button:hover{
    opacity: 0.5;
}

.section__footer{
    display: flex;
    width: 100%;
    padding-left: 24px;
    flex-direction: column;
}

.section-footer__list{
    display: flex;
    width: 100%;
    gap:16px;
    padding-bottom: 16px;
}

.footer__email{
    font-family: Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 600;
    padding-bottom: 12px;
}

.footer__phone{
    font-family: LakeB;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    padding-bottom: 40px;
}


.footer__language{
font-family: Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.2px;
font-weight: 600;
}

.footer__language-button{
    background-color: white;
}



button:hover{
    opacity: 0.5;
}